.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 1;
  }
  
  .edit-icon-container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .edit-icon {
    font-size: 20px;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .profile-picture-container:hover .edit-icon-container {
    display: block;
  }
  