.container-fluid {
	height: 100vh;
}

.opponent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-color: #f20000;
	border: 1px solid #000;
  }

.player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 25vh;
	background-color: #3400f2;
	border: 1px solid #000;
}

.middle {
	height: 50vh;
	background-color: #000000;
}

.opponent-cards {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 10px;
}
  
.card {
	width: 14vw;
	height: 20vh;
	background-color: #f7f7f7;
	margin: 0 1vw;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	position: relative;
  }
  
  .face-down {
	width: 100%;
	height: 100%;
	background-image: url("cardImages/backimage.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
  }

  .face-up {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
  }
  

  
  .card-0 .face-up {
	background-image: url("cardImages/Y-M.png");
  }

  .card-1 .face-up {
	background-image: url("cardImages/Y-PS.png");
  }
  
  .card-2 .face-up {
	background-image: url("cardImages/Y-S.png");
  }
  
  .card-3 .face-up {
	background-image: url("cardImages/Y-AS.png");
  }
  
  .card-4 .face-up {
	background-image: url("cardImages/Y-A.png");
  }
  
  .card-5 .face-up {
	background-image: url("cardImages/Y-W.png");
  }
  
  .card-6 .face-up {
	background-image: url("cardImages/Y-G.png");
  }
  
  .card-7 .face-up {
	background-image: url("cardImages/Y-P.png");
  }
  
