.container-fluid {
	height: 100vh;
}

.opponent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-color: #f20000;
	border: 1px solid #000;
}

.player {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-color: #3400f2;
	border: 1px solid #000;
}

.middle {
	height: 50vh;
	background-color: #000000;
}

.faceDown {
	width: 100px;
	height: 150px;
	background-image: url('/Users/abigailbarrientos/Desktop/brave_rats/static/assets/backimage.png');
	background-size: cover;
  background-position: center center;
  border-radius: 10px;
	margin: 10px;
	cursor: pointer;
}

.faceDown.in-middle {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.faceUp {
  background-image: url('/Users/abigailbarrientos/Desktop/brave_rats/static/assets/blue0.png');
}

.faceUp.in-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faceUp {
  width: 100px;
  height: 150px;
  background-size: cover;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.in-middle {
  z-index: 1;
}


