.container-fluid {
	height: 100vh;
}

.opponent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-color: #f20000;
	border: 1px solid #000;
}

.player {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-color: #3400f2;
	border: 1px solid #000;
}

.middle {
	height: 50vh;
	background-color: #000000;
}

.opponent-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .card {
	width: 140px;
	height: 200px;
	background-color: #f7f7f7;
	margin: 0 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	position: relative;
  }
  
  .face-down {
	width: 100%;
	height: 100%;
	background-image: url("cardImages/backimage.png");
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
  }

  .face-up {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .card-0 .face-up {
	background-image: url("cardImages/Y-M.png");
  }
  
  .card-2 .face-up {
	background-image: url("cardImages/card2.png");
  }
  
  .card-3 .face-up {
	background-image: url("cardImages/card3.png");
  }
  
  .card-4 .face-up {
	background-image: url("cardImages/card4.png");
  }
  
  .card-5 .face-up {
	background-image: url("cardImages/card5.png");
  }
  
  .card-6 .face-up {
	background-image: url("cardImages/card6.png");
  }
  
  .card-7 .face-up {
	background-image: url("cardImages/card7.png");
  }
  
  .card-8 .face-up {
	background-image: url("cardImages/card8.png");
  }