<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BraveRats - Home</title>
</head>
<body>
    <p>Create a game</p>
    <form action="/" method="post">
        <input type="submit" value="Create">
    </form>
    {% if gameId %}
    <p>Your game is ready at: <a href="http://127.0.0.1:3000/play/{{gameId}}">http://127.0.0.1:3000/play/{{gameId}}</a> </p>
    {% endif %}
</body>
</html>