<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Brave Rats</title>
  </head>
  <body>
    <header>
      <h1>Brave Rats</h1>
    </header>
    <main>
      <section>
            <a href="#">Rules</a>
      </section>
      <section>
            <a href="#">Play Now</a>
      </section>
      <section>
            <a href="#">Play With A Friend</a>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Brave Rats. All rights reserved.</p>
    </footer>
  </body>
</html>
