<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BraveRats - Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
  
  <div class="container-fluid">
    <div class="row opponent yarg">
      
        
          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

          <div class="card">
            <div class="face-down"></div>
          </div>

        
      
      
    </div>
    <div class="row middle">
      
        
        <div class="col-sm round hold-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round a-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>

        <div class="col-sm round y-win">
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
          <div class="row card card-1" >
            <div class="face-up"></div>
          </div>
        </div>


      
    </div>
    <div class="row player applewood">
      
        <div class="card card-0">
          <div class="face-up"></div>
        </div>

        <div class="card card-1">
          <div class="face-up"></div>
        </div>

        <div class="card card-2">
          <div class="face-up"></div>
        </div>

        <div class="card card-3">
          <div class="face-up"></div>
        </div>

        <div class="card card-4">
          <div class="face-up"></div>
        </div>

        <div class="card card-5">
          <div class="face-up"></div>
        </div>

        <div class="card card-6">
          <div class="face-up"></div>
        </div>

        <div class="card card-7">
          <div class="face-up"></div>
        </div>

        
      </div>
    </div>
  </div>


  
  <script src="{{ url_for('static', filename='js/play.js') }}"></script>
</body>

</html>
